.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.code h3 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.scroll {
  max-height: 19rem;  
  max-width: 48rem;
  overflow: auto;
  border: 1px solid;
  border-radius: 4px;

 
}
