
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.scroll {
  max-height: 19rem;  
  max-width: 48rem;
  overflow-y: auto;
  border: 1px solid;
  border-radius: 5px; 
  position: sticky;
  top: 0;
  background-color: #1e1e1e;
  padding: 1rem;
   font-size: 12px;
}

.code {
    width: 100%;
}


.code-block {
    list-style: decimal;
    padding-left: 2.5em;
    margin: 0;
    font-family: 'Fira Code';
}

