 html {
    font-family: 'Inter', sans-serif;
}

.app-header {
  display: flex;
  justify-content: center;  
  align-items: center;     
  padding: 0.75rem 0;         
}

.app-header__title {
  margin: 0;                     
  padding: 1rem 2rem;          
  background-color:rgb(23, 22, 50);
  color: white;
  font-size: 1rem;           
  font-weight: 500;     
  letter-spacing: 0.75px;         
  border-radius: 900px;           
}
